<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>



    <div class="container mt-5">

        <h2 class="text-center">Hotel Listing </h2>
    </div>

    <div id="app">


        <div class="container mt-5 shadow p-3   mx-auto ml-4">

            <section class="search-sec ml-5">
                <div class="container">
                    <form action="/" method="GET">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                    <select class="form-control search-slt" placeholder="Search" @change="onChange($event)" v-model="city">
                                        <option value="" selected>City</option>
                                            {% for city in cities %}

                         <option class="text-capitalize" value="{{city.city}}">
                                                {{city.city}}</option>
                                                
                                            {% endfor %}
                                        </select>


                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">

                                        <select @change="onChange($event)" v-model="vegprice" class="form-control search-slt" id="exampleFormControlSelect1">
                                            <option value="" selected>Veg Price</option>
                                            <option value="200"> 200 </option>
                                            <option value="400">400</option>
                                            <option value="500">500</option>
                                            <option value="5000"> Greator 500</option>
                                        </select>


                                    </div>


                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <select class="form-control search-slt" @change="onChange($event)" v-model="nonvegprice"  id="exampleFormControlSelect1">
                                            <option value="">Non veg price</option>
                                            <option value="200"> 200 </option>
                                            <option value="400">400</option>
                                            <option value="500">500</option>
                                            <option value="5000">  Greator 500</option>
                                           
                                        </select>
                                    </div>


                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                        <select  @change="onChange($event)" v-model="venue" class="form-control search-slt" id="exampleFormControlSelect1">
                                            <option value="">Venue type</option>
                                            {% for venue in venues %}
                                            <option>{{venue.vendor_type}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

<!-- 
                                    <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                                        <select class="form-control search-slt" >
                                            <option>Mininum Capacity </option>
                                            <option value="200"> 200 </option>
                                            <option value="400">400</option>
                                            <option value="500">500</option>
                                            <option value="5000">  Greator 500</option>
                                        </select>
                                    </div> -->


                                    <!-- <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                                        <button type="submit" class="btn btn-info wrn-btn">Search</button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>


        <div class="container">


            <div class="d-flex text-success justify-content-center" v-if="loading">
                <div class="spinner-border  mt-5" role="status" style="width: 3rem; height: 3rem;">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>



              <h3 class="text-center mt-5" v-if="hotels.length == 0">No hotels Found</h3>




            <div class="row mt-5 mx-auto">

                <div class="col-lg-4 mt-3" v-for="hotel in hotels" >
                    <div class="card shadow-lg" style="width: 18rem; height: 400px;">
                        <img src="https://www.abadhotels.com/wp-content/uploads/abad-plaza-banner.jpg"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="/detail/[[hotel.id]]">
                                <h5 class="card-title h5 text-dark">[[hotel.hotel]]</h5>
                            </a>

                            <p class="card-text m-0 p-0">[[hotel.city]]</p>



                            <span class="badge badge-success p-1 mr-1" v-for="vendor in hotel.vendor_type">[[vendor]]</span>




                            <p class="m-0 p-0">Veg Price - [[hotel.veg_price]]</p>
                            <p class="m-0 p-0">No Veg Price - [[hotel.non_veg_price]]</p>

                            <p class="m-0 p-0">[[hotel.phone]]</p>

                            <span class="text-muted m-0 p-0">[[hotel.address]]</span>
                        </div>
                    </div>
                </div>



            </div>

        </div>


        <nav aria-label="Page navigation example" class="mx-auto mt-5 text-center">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1">&laquo; first</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
                </li>

                {% endif %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a>
                </li>

                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                </li>
                {% endif %}

            </ul>
        </nav>





    </div>






    <footer class="bg-dark p-5 mt-5">

        <h4 class="text-center text-white">Find the best Hotels</h4>

    </footer>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>



    <script>
        new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            data: {
                loading : true,
                title: 'Welcome to My Journal',
                hotels: {},
                cities : {},
                venues: {},
                city: "",
                nonvegprice : "",
                vegprice :"",
                venue : ""
            },
            methods: {
                getHotels: function () {
                    fetch('http://127.0.0.1:8000/result')
                        .then(results => results.json())
                        .then(response => {
                          
                            this.hotels = response
                        })
                    console.log("Hello")

                    this.loading = false
                },
            
                getCities : function(){
                    fetch('/cities')
                    .then(results => results.json())
                    .then(response => {
                      
                        this.cities = response.cities
                    })
                },
            onChange(event) {

                var city = this.city
                var vegprice = this.vegprice
                var nonvegprice = this.nonvegprice
                var venue = this.venue
                var url = `/result?city=${city}&vegprice=${vegprice}&nonvegprice=${nonvegprice}&venue=${venue}`
                console.log(url)
                fetch(url)
                .then(results => results.json())
                .then(response => {
                    console.log(response)
                    this.hotels = response
                })


            //     console.log(city)
            //   console.log(event.target.value)
            }


            },
            mounted() {
                this.getHotels(),
                this.getCities()
            },

        })
    </script>







    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>

</html>